{% extends "layout.html"%}
{% block title %}
Register
{% endblock %}


{% block main %}
<div class="container min-vh-100 d-flex justify-content-center align-items-center">

    <form class="form row g-3">
        <h1 class="text-center">Student Enrollment Form</h1>
        <div class="col-md-4">
            <label for="id_number" class="form-label">ID Number</label>
            <input type="text" class="form-control" autocomplete="off" id="id_number" name="id_number">
        </div>
        <div class="col-md-4">
            <label for="first_name" class="form-label">First Name</label>
            <input type="text" class="form-control" autocomplete="off" id="first_name" name="first_name">
        </div>
        <div class="col-md-4">
            <label for="last_name" class="form-label">Last Name</label>
            <input type="text" class="form-control" autocomplete="off" id="last_name" name="last_name">
        </div>
        <div class="col-md-4">
            <label for="birthday" class="form-label">Birthday</label>
            <input type="date" class="form-control" autocomplete="off" id="birthday" name="birthday">
        </div>
        <div class="col-md-4">
            <label for="gender" class="form-label">Gender</label>
            <select class="form-select" id="gender" name="gender">
                <option selected>Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Non-binary">Non-binary</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="type" class="form-label">Type</label>
            <div id="type">
                <select class="form-select" id="type" name="type">
                    <option selected>Select Type</option>
                    <option value="Old">Old</option>
                    <option value="New">New</option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" autocomplete="off" id="address" name="address">
        </div>
        <div class="col-md-6">
            <label for="department" class="form-label">Department</label>
            <select class="form-select" id="department" name="department" required>
                <option selected>Select Department</option>
                <option value="College of Arts and Sciences">College of Arts and Sciences</option>
                <option value="College of Computer, Information and Communications Technology">College of Computer,
                    Information and Communications Technology</option>
                <option value="College of Management and Entrepreneurship">College of Management and Entrepreneurship
                </option>
                <option value="College of Engineering">College of Engineering</option>
                <option value="College of Education">College of Education</option>
                <option value="College of Technology">College of Technology</option>

            </select>
        </div>
        <div class="col-md-6">
            <label for="program" class="form-label">Program</label>
            <input type="text" class="form-control" autocomplete="off" id="program" name="program">
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <!-- <button class="btn1 btn btn-danger" type="button">Clear</button> -->
            <button class="btn btn-success" formaction="/index" formmethod="post"
                onclick="enroll_checker()">Enroll</button>
            <button class="btn btn-primary" formaction="/table" formmethod="get">Records</button>
    </form>
</div>
</form>
</div>
{% endblock %}