{% extends "layout.html"%}
{% block title %}
Register
{% endblock%}


{%block main%}
<div class="container min-vh-100 d-flex justify-content-center align-items-center">

    <form class="form row g-3" action="/register" action="post">
        <h1 class="text-center">Student Enrollment Form</h1>
        <div class="col-md-4">
            <label for="id_number" class="form-label">ID Number</label>
            <input type="text" class="form-control" autocomplete="off" iD="id_number" name="id_number">
        </div>
        <div class="col-md-4">
            <label for="first_name" class="form-label">First Name</label>
            <input type="text" class="form-control" autocomplete="off" id="first_name" name="first_name">
        </div>
        <div class="col-md-4">
            <label for="last_name" class="form-label">Last Name</label>
            <input type="text" class="form-control" autocomplete="off" id="last_name" name="last_name">
        </div>
        <div class="col-md-4">
            <label for="birthday" class="form-label">Birthday</label>
            <input type="date" class="form-control" autocomplete="off" id="birthday" name="birthday">
        </div>
        <div class="col-md-4">
            <label for="gender" class="form-label">Gender</label>
            <select class="form-select" id="gender">
                <option selected>Select Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="non-binary">Non-binary</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="type" class="form-label">Type</label>
            <div id="type">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="old" id="old" value="old">
                    <label class="form-check-label" for="old">Old</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="new" id="new" value="new">
                    <label class="form-check-label" for="new">New</label>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" autocomplete="off" id="address" name="address">
        </div>
        <div class="col-md-6">
            <label for="department" class="form-label">Department</label>
            <select class="form-select" id="department">
                <option selected>Select Department</option>
                <option value="cas">College of Arts and Sciences</option>
                <option value="ccict">College of Computer, Information and Communications Technology</option>
                <option value="cme">College of Management and Entrepreneurship</option>
                <option value="coe">College of Engineering</option>
                <option value="coe">College of Education</option>
                <option value="cot">College of Technology</option>

            </select>
        </div>
        <div class="col-md-6">
            <label for="program" class="form-label">Program</label>
            <input type="text" class="form-control" autocomplete="off" id="program" name="program">
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn1 btn btn-danger" type="button">Clear</button>
            <button class="btn btn-success" type="button">Enroll</button>
        </div>
    </form>
</div>
{% endblock %}