{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% block main %}
<div class="container min-vh-100 d-flex justify-content-center align-items-center">
    <form action="/" method="post">
        <h2 class="text-center">Administrator</h2>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input autocomplete="off" name="username" type="text" class="form-control" id="username"
                aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input autocomplete="off" name="password" type="password" class="form-control" id="password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>

{% endblock %}